.heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.container p {
    margin: 0;
}


.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

@media (max-width: 825px) {
  .firstRow, .secondRow {
    flex-direction: column;
  }

  .secondRow {
    margin-bottom: 40px;
  }
}

