.eventGroup {
    border: 1px solid #E5E7EB;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1 1 calc(50% - 20px);
}

.firstRow {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    gap: 15px;
}

.progressSessions {
    display: flex;
    justify-content: space-between;
}

.greyText {
    color: #4A5565;
}

.blueText {
    color: #155DFC;
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: #E5E7EB;
    border-radius: 5px;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    background-color: #155DFC;
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail p {
    margin: 0;
}

.details {
    display: flex;
    justify-content: space-between;
}

.thirdRow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9FAFB;
}

.secondRow, .thirdRow {
    border-top: 1px solid #E5E7EB;
}

.secondRow {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    gap: 20px;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 825px) {
  .eventGroup {
    flex: 1 1 100%;
    margin-bottom: 40px;
  }
}