.searchBar {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    padding: 5px 10px;
    border-radius: 10px;
    height: 50px;
}

.searchBar input {
    border: none;
    outline: none;
    flex: 1;
}

.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createBtn {
    width: 30%;
}

.thirdRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}