.role-tab {
    display: flex;
    border-radius: 7px;
    border: 3px solid #F5F6F9;
    justify-content: space-between;
}

.tab {
    display: flex;
    background-color: #F5F6F9;
    cursor: pointer;
    height: 35px;
    justify-content: center;
    width: 200px;
    line-height: 1;
    align-items: center;
}

.tab.active {
    background-color: #FFF;
    font-weight: 500;
}