.content {
    display: flex;
    flex-direction: column;
}

.content p {
    margin: 2px;
}

.smallCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 20px 40px 20px 20px;
    flex: 1;
}

.title {
    font-size: 14px;
    font-weight: 500;
    color: #6C7278;
}

.text {
    font-weight: 500;
    font-size: 20px;
    color: #000;
}